replicaCount: 2

image:
  # Override in values-prod.yaml
  repository: ""
  tag: "1.0.16"
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 8000
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-internal: "true"

env:
  AWS_REGION: "us-east-1"
  # Override in values-prod.yaml
  COGNITO_CLIENT_ID: ""
  COGNITO_SECRET_NAME: "auth-gateway/cognito"

serviceAccount:
  # Override in private config
  roleArn: ""

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi
nodeSelector: {}
tolerations: []
affinity: {}

serviceMonitor:
  enabled: true

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPU: 70
  targetMemory: 80