apiVersion: v1
kind: Service
metadata:
  name: {{ include "notes-service.fullname" . }}
  labels:
    app: {{ include "notes-service.name" . }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  selector:
    app: {{ include "notes-service.name" . }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8000
      protocol: TCP
      name: http

