{{- if .Values.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "notes-service.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ include "notes-service.name" . }}
    release: prometheus-stack
spec:
  selector:
    matchLabels:
      app: {{ include "notes-service.name" . }}
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
{{- end }}
